.header {
    background-image: url(../img/header-bg.png);
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        &__wrapper {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            text-align: center
        }
        
        &__container-content {
            @include flex(flex, space-between, center);
            height: 100px;
            padding: 0 10px;
        }

        &__logo {
            @include flex(flex, center, center);
            gap: 17px;
                &-name {
                    @include font($secondary-font, 700, 24px, 16px, uppercase);
                    color: $select-color;
                        &:hover {
                            color: $accent-color;
                        }
                }
        }
        
        &__buy-button {
            @include font($main-font, 700, 16px, 17px, normal);
            color: $accent-color;
            background: $select-color;
            border-radius: 40px;
            padding: 11px 35px; 
            transition: ease 0.5s;  
            &:hover {
                background: $accent-color;
            }

            &:hover {
                color: $select-color;
            }

            &:hover {
                border: 1px solid $accent-color;
            } 
        }

        &__burger-menu {
            @include flex(none, flex-end, center);
            width: 26px;
            height: 37px;
            cursor: pointer;
            position: relative;
         }

         &__burger-container-menu {
            display: none;
         }
        
        &__burger-container-menu span {
            background-color: $accent-color;
            height: 3px;
            position: absolute;
            bottom: 10px;
            width: 26px;
            border-radius: 5px;
            transition: all 0.3s ease;
        }
        
        &__burger-menu span:first-child {
            width: 15px;
            top: 13px;
        }
        
        &__burger-menu span:nth-child(2) {
            top: 19px;
        }
        
        &__burger-menu span:last-child {
            top: 25px;
        }
        
        &__burger-menu.active span:nth-child(2) {
            opacity: 0;
        }
        
        &__burger-menu.active span:first-child,
        &__burger-menu.active span:last-child {
            top: 17px;
            background-color: $accent-color;
        }
        
        &__burger-menu.active span:first-child {
            width: 26px;
            border-radius: 0;
            transform: rotate(45deg);
        }
          
        &__burger-menu.active span:last-child {
            width: 26px;
            border-radius: 0;
            transform: rotate(-45deg);
        }
        
        &__menu {
            @include flex(flex, space-between, 0);
            position: relative;
            top: -59px;
            width: 44%;
            left: 39%;
        }

        &__menu-link {
            @include font($main-font, 700, 16px, 17px, normal);
            color: $select-color; 
                &:hover {
                    color: $accent-color;
                }
        }

        &__content {
            @include flex(flex, center, center);
            flex-direction: column;
            gap: 19px;
            margin: 83px 0 426px;
            padding: 0 10px;

                &__title {
                    @include font($main-font, 700, 82px, 82px, normal);
                    color: $accent-color;
                }
                
                &__subtitle {
                    @include font($secondary-font, 400, 30px, 30px, normal);
                    color: $select-color;
                }

                &__version-link {
                    @include font($main-font, 400, 16px, 16px, uppercase);
                    color: #848E97;
                }
        }

        &__download-button {
            display: flex;
            flex-direction: column;
            gap: 19px;
            position: relative;
            top: 68px;
        }

        &__download-button-cover {
            @include flex(flex, center, center);
                &__button-text {
                    @include font($main-font, 700, 21px, 22px, normal);
                    background: $select-color;
                    border-radius: 40px;
                    padding: 23px 61px;
                    color: $accent-color;
                    transition: ease 0.5s;  
                    border: 1px solid $select-color; 
                        &:hover {
                            background: $accent-color;
                        }

                        &:hover {
                            color: $select-color;
                        }

                        &:hover {
                            border: 1px solid $select-color;
                        }
                }
        }

        &__download-button-trial {
            @include flex(flex, center, center);
            @include font($main-font, 400, 14px, 15px, normal);
            color: #848E97;
        }
}

@media screen and (min-width: 481px) and (max-width: 992.98px) {
    .header {
        &__background {
            width: 100%;
            height: 118px;
            background: #27262A;
        }

        &__menu  {
            top: -18px;
            left: 0;
            width: 100%;
            justify-content: center;
            gap: 6%;
        }
        
        &__content {
            &__title {
                @include font($main-font, 700, 72px, 72px, normal);
            }
        }

        &__content {
            &__subtitle {
                @include font($secondary-font, 400, 24px, 24px, normal);
            }
        }

        &__content {
            &__version-link {
                @include font($main-font, 400, 14px, 14px, uppercase);
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 480.98px) {
    .header {
        &__background {
            width: 100%;
            height: 103px;
            background: #27262A;
        }
    
        &__logo-name {
            display: none;
        }
    
        &__container-menu {
            @include flex(flex, center, center);
            width: 100%;
        }
        
        &__menu {
            width: 292px;
            top: 3px;
            left: 0px;
            flex-direction: column;
            padding-bottom: 27px;
            background: #333333;
                &.active {
                    display: none;
                }
    
                & li {
                    @include flex(flex, 0, center);
                    height: 88px;
                    border-bottom: 3px solid #3B3B3B;
                    position: relative;
                        &:hover::before {
                            content: '';
                            border-left: 8px solid $select-color;
                            height: 53px;
                            position: absolute;
                            left: 2px;
                        }
                }
    
        &-link {
            @include font($main-font, 400, 26px, 26px, normal);
            margin-left: 35px;
            color: $accent-color;
            transition: ease 0.3s;
                &:hover {
                    transform: translate(4px, 0);
                }

                &:active {
                    color: $select-color;
                }
            }
        }
    
        &__buy-button {
            font-size: 15px;
        }
    
        &__burger-container-menu {
            @include flex(flex, 0, center);
       }
    
        &__burger-menu {
            display: flex;
            position: relative;
        }
    
        &__content {
            &__title {
                @include font($main-font, 700, 48px, 48px, normal);
            }
        }
    
        &__content {
            &__subtitle {
                @include font($main-font, 400, 18px, 24px, capitalize);
            }
        }
    
        &__content {
            &__version-link {
                @include font($main-font, 400, 14px, 14px, uppercase);
            }
        }
    
        &__download-button-cover {
            &__button-text {
                @include font($main-font, 700, 18px, 20px, normal);
                padding: 15px 29px;
            }
        }
    }
}