.header {
    background-image: url(../img/header-bg.png);
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

        &__container-content {
            display: flex;
            justify-content: space-between;
            height: 100px;
            padding: 0 10px;
        }

        &__logo {
            display: flex;
            align-items: center;
            gap: 17px;

                &__icon {

                }

                &__name {
                    font-family: 'Lato';
                    font-weight: 700;
                    font-size: 24px;
                    text-transform: uppercase;
                    color: #8D81AC;
                        &:hover {
                            color: #fff;
                        }
                }
        }

        &__button-background {
            display: flex;
            align-items: center;
        }
        
        &__buy-button {
            font-weight: 700;
            font-size: 16px;
            color: #fff;
            background: #8D81AC;
            border-radius: 40px;
            padding: 11px 35px; 
            transition: ease 0.5s;  
            &:hover {
                background: #fff;
            }

            &:hover {
                color: #8D81AC;
            }

            &:hover {
                border: 1px solid #8D81AC;
            } 
        }

        &__burger-menu {
            display: none;
            justify-content: flex-end;
            width: 26px;
            height: 37px;
            cursor: pointer;
            position: relative;
         }

         &__burger-container-menu {
            display: none;
         }
        
        &__burger-container-menu span {
            background-color: white;
            height: 3px;
            position: absolute;
            bottom: 10px;
            width: 26px;
            border-radius: 5px;
            transition: all 0.3s ease;
        }
        
        &__burger-menu span:first-child {
            width: 15px;
            top: 13px;
        }
        
        &__burger-menu span:nth-child(2) {
            top: 19px;
        }
        
        &__burger-menu span:last-child {
            top: 25px;
        }
        
        &__burger-menu.active span:nth-child(2) {
            opacity: 0;
        }
        
        &__burger-menu.active span:first-child,
        &__burger-menu.active span:last-child {
            top: 17px;
            background-color: white;
        }
        
        &__burger-menu.active span:first-child {
            width: 26px;
            border-radius: 0;
            transform: rotate(45deg);
        }
          
        &__burger-menu.active span:last-child {
            width: 26px;
            border-radius: 0;
            transform: rotate(-45deg);
        }
        
        &__menu {
            display: flex;
            justify-content: space-between;
            position: relative;
            top: -59px;
            width: 44%;
            left: 39%;
        }

        &__menu-link {
            font-weight: 700;
            font-size: 16px;
            color: #8D81AC; 
                &:hover {
                    color: #fff;
                }
        }

        &__content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 19px;
            margin: 83px 0 426px;
            padding: 0 10px;

                &__title {
                    font-weight: 700;
                    font-size: 82px;
                    color: #fff;
                }
                
                &__subtitle {
                    font-family: Lato;
                    font-weight: 400;
                    font-size: 30px;
                    color: #8D81AC;
                    text-align: center;
                }

                &__version-link {
                    font-weight: 400;
                    font-size: 16px;
                    text-transform: uppercase;
                    color: #848E97;
                }
        }

        &__download-button {
            display: flex;
            flex-direction: column;
            gap: 19px;
            position: relative;
            top: 68px;
        }

        &__download-button-cover {
            display: flex;
            justify-content: center;
                &__button-text {
                    background: #8D81AC;
                    border-radius: 40px;
                    padding: 23px 61px;
                    font-weight: 700;
                    font-size: 21px;
                    color: #FFFFFF;
                    transition: ease 0.5s;  
                    border: 1px solid #8D81AC; 
                        &:hover {
                            background: #fff;
                        }

                        &:hover {
                            color: #8D81AC;
                        }

                        &:hover {
                            border: 1px solid #8D81AC;
                        }
                }
        }

        &__download-button-trial {
            display: flex;
            justify-content: center;
            font-weight: 400;
            font-size: 14px;
            color: #848E97;
        }
}

@media (min-width: 481px) and (max-width: 992.98px) {
    .header__background {
        width: 100%;
        height: 118px;
        background: #27262A;
    }

    .header__menu  {
        top: -18px;
        left: 0;
        width: 100%;
        justify-content: center;
        gap: 6%;
    }
    
    .header__content__title {
        font-size: 72px;
    }

    .header__content__subtitle {
        font-size: 24px;
    }

    .header__content__version-link {
        font-size: 14px;
    }
}

@media (min-width: 320px) and (max-width: 480.98px) {
    .header__background {
        width: 100%;
        height: 103px;
        background: #27262A;
    }

    .header__logo__name {
        display: none;
    }

    .header__container-menu {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .header__menu {
        width: 292px;
        top: 3px;
        left: 0px;
        flex-direction: column;
        padding-bottom: 27px;
        background: #333333;
            &.active {
                display: none;
            }

            & li {
                height: 88px;
                display: flex;
                align-items: center;
                border-bottom: 3px solid #3B3B3B;
                position: relative;
                    &:hover::before {
                        content: '';
                        border-left: 8px solid #8D81AC;
                        height: 53px;
                        position: absolute;
                        left: 2px;
                    }
                 
            }

            .header__menu-link {
                font-weight: 400;
                margin-left: 35px;
                font-size: 26px;
                color: #FFFFFF;

                    &:active {
                        color: #8D81AC;
                    }
            }
    }

    .header__buy-button {
        font-size: 15px;
    }

    .header__burger-container-menu {
        display: flex;
        align-items: center;
   }

    .header__burger-menu {
        display: flex;
        position: relative;
    }

    .header__content__title {
        font-size: 48px;
    }

    .header__content__subtitle {
        font-family: Montserrat;
        text-transform: capitalize;
        font-size: 18px;
    }

    .header__content__version-link {
        font-size: 14px;
    }

    .header__download-button-cover__button-text {
        font-size: 18px;
        padding: 15px 29px;
    }
}